@{
    ViewData["Title"] = "Home Page";
}

<div class="flex flex-col gap-10">
    <h2 class="text-3xl font-semibold">Create shorter url:</h2>
    
    <div class="flex flex-col gap-4 item-start justify-center">
        <input class="text-xl border px-4 py-1 border-zinc-500 rounded-lg w-full" type="text" placeholder="Enter long url">
        <button class="text-lg w-fit hover:bg-zinc-100 border px-4 py-1 border-zinc-500 rounded-lg cursor-pointer transition-colors duration-500">Create</button>
    </div>
</div>