@{
	ViewData["Title"] = "Url Page";
}

<div class="flex flex-col gap-10">
	<h2 class="text-3xl font-semibold">Create shorter url:</h2>

	<div class="flex flex-col gap-4 item-start justify-center">
	</div>
	<button class="w-fit">
		<a class="" asp-area="" asp-controller="Home" asp-action="Index">Go home</a>
	</button>
</div>