@{
	ViewData["Title"] = "Url Page";
}

<div class="flex flex-col gap-10">
	<h2 class="text-3xl font-semibold">Create shorter url:</h2>

	<div class="flex flex-col gap-4 item-start justify-center">
		<input class="text-xl border px-4 py-2 border-zinc-500 rounded-lg w-full" type="text"
		       placeholder="Enter long url">
		<button
			class="bg-green-500 text-white text-lg w-fit hover:bg-green-500/80 px-4 py-1 rounded-lg cursor-pointer transition-colors duration-500">
			Create
		</button>
	</div>
	<hr>
	<button class="w-fit">
		<a class="" asp-area="" asp-controller="Home" asp-action="Index">Go home</a>
	</button>
	<button class="w-fit">
		<a class="" asp-area="" asp-controller="Url" asp-action="Add">Create new url</a>
	</button>
</div>